::-webkit-scrollbar {
    width: 4px;   /* vertical */
    height: 4px;  /* horizontal */
}

::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2a3531;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #17231e;
}
