::-webkit-scrollbar {
    width: 5px;   /* vertical */
    height: 3px;  /* horizontal */
}

::-webkit-scrollbar-track {
    background: #d1c9d8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #64647a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16cf83;
}

.leaflet-tooltip.district-label {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #111827;
    font-size: 11px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    pointer-events: none;
}

/* Wrapper removes Leaflet default tooltip styling */
.district-tooltip-wrapper {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Actual marker UI */

.district-name {
    font-size: 11px;
    font-weight: 600;
    color: #111827;
    line-height: 1.1;
    border-radius: 5px;
}

.district-count {
    font-size: 14px;
    font-weight: 700;
    color: #047857; /* emerald */
}
